.col-md-3{
    margin-left: 500px;
}

#name{
    text-align: center;
    margin-left: 100px;
    font-size: 36px;
}

#role{
    text-align: center;
    margin-left: 100px;
    font-size: 24px;
}

#top{
    background-color: blue;
    height: 150px;
    color: white;
    text-align: center;
}

#bottom{
    background-color: white;
    color: black;
    height: 350px;
    border: 1px solid black;
    padding: 10px;
}

#infotable, tr, td{
    border: 1px solid black;
    width: 250px;
    padding: 5px;
    margin-left: 50px;
}