<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="assets/engineer.css">
    </head>
    <body>
       <!-- <div id="engineercontainer"> -->
           <div class="row">
               <div class="col-md-3">
            <div class="row" id="top">
                <br>
                <p id="name">John Doe</p>
                <p id="role">Engineer</p>
                <br>
            </div>
           <div class="row" id="bottom">
               <table id="infotable">
                   <tr><td>ID: 123</td></tr>
                   <tr><td>Email: user@web.com</td></tr>
                   <tr><td>GitHub: UserName</td></tr>
               </table>
           </div>
           </div>
       <!--</div>-->
    </body>
</html>